  @media (min-width: 481px) and (max-width: 767px) {
    .fs-40{
      font-size: 30px;
    }
  }
  @media (min-width: 280px) and (max-width: 359px) {
    .fs-40{
      font-size: 30px;
    }
  }
  
  @media (min-width: 280px) and (max-width: 480px) {
    .fs-40{
      font-size: 30px;
    }
  }
  